<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<!--/* header  */-->
	<!--/* header라는 프래그먼트를 정의	*/-->
	<div th:fragment="header" >
	<style>
	
        header {
           
            padding: 10px 0;
            border-bottom: 1px solid #ddd; /* 선 */
            width: 100%; /* 전체 화면 너비 */
            position: fixed; /* 상단 고정 */
            top: 0;
            left: 0;
            z-index: 1000; /* 다른 요소 위 */
        }
        body {
            margin: 0;
            padding-top: 60px; /* 고정 헤더 높이만큼 여백 */
        }
    </style>
	
	</style>
		 <header class="p-3 mb-3">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
                        <p class="logo">날씨어때?</p>
                    </a>
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="#" class="nav-link px-2 ps-3">상세</a></li>
                        <li><a href="#" class="nav-link px-2">운세</a></li>
                        <li><a href="#" class="nav-link px-2">지도</a></li>
                        <li><a href="#" class="nav-link px-2">소식</a></li>
                    </ul>
                 
                   <th:block th:unless="${session.isLogin}">
                     <div class="grid gap-3">
                   		<a href="/loginForm" class="text-decoration-none p-2 g-col-6">로그인</a>|
                   		<a href="/signup" class="text-decoration-none p-2 g-col-6">회원가입</a>
                   		</div>
                   </th:block>
                   
                   <th:block th:if="${session.isLogin}"> 
                    
                    <div class="dropdown text-end">
                        <a href="#" class="d-block text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="img/person.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="MyPage">마이페이지</a></li>
                           <!--  <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li> -->
                            <li><a class="dropdown-item" href="/memberLogout">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
              </th:block>
            </div>
        </header>
       </div>
      </html>  