* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jua','Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.login-container {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

 .signup-container {
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      background: #ffffff;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .signup-label {
      font-weight: bold;
    }

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #007BFF;
}

#btn, #registar {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
} 

.btn:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.signup-link a {
    color: #007BFF;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
 .logo {
                font-family: 'Jua', 'Noto Sans KR', sans-serif;
                font-weight: 500;
                
                font-size: 1.5em; /* 크기 크게 */
                color: #007bff; /* 파란색 */
                text-align: center;
                font-weight: bold;
                background: linear-gradient(45deg, #007bff, #00d4ff); /* 파란색 그라데이션 */
                -webkit-background-clip: text; /* 텍스트에 배경 클리핑 */
                color: transparent; /* 텍스트 색상 투명 */
                text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
                transition: all 0.4s ease; /* 호버 시 효과 */
            }