<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"		
		layout:decorate="~{layouts/main_layout}">
    
   
        <!-- 헤더 -->
       
        <!-- 메인 콘텐츠 -->
     <th:block layout:fragment="content"> 
        <main class="container">
            <div class="text-center mt-5">
                <h1>Footer 고정 예제</h1>
                <p class="lead">페이지 하단에 고정된 Footer입니다.</p>
            </div>
        </main>
        <!-- Footer -->
        
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </th:block>
</html>
