<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/test.css">
</head>
<body>
	 <form action="/wheader2" method="post">
	    <div id="wrapper">
	        <header>
	            <img src="img/rain.png">
	            <p>날씨 단기예보 검색</p>
	        </header>
	        <main>
	            <div class="ct_msg">
	                <p>장소를 검색하세요</p>
	            </div>
	            <div class="ct_search">
	                <div class="search_bar">
	                    <img src="img/search.png">
	                    <input class="searchText" type="text" placeholder="장소 입력 후 검색 버튼 클릭">
	                </div>
	                <button class="btnSearch">검색</button>
	            </div>
	        </main>
	        <footer>
	            <div class="ct_footer">
	                Copyright© circle All Rights RESERVED.
	            </div>
	        </footer>
	    </div>
	  </form>  
</body>
</html>